header .container {
  position: relative;
}

header .container .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.notification-wrapper {
  max-width: 500px;
  margin: 3rem auto;
}

.notification-wrapper h2 {
  margin-bottom: 20px;
}

.notification-wrapper h3 {
  margin-bottom: 20px;
}

.today-notification {
  display: flex;
  flex-direction: column;

  margin: 1rem 0;
  gap: 15px;
  border-bottom: 1px solid rgba(209, 209, 209, 0.8);
  padding-bottom: 10px;
}

.this-week-notification {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 15px;
}

.notification {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}

.notification .notification-info h4 {
  margin-bottom: 10px;
  color: rgba(69, 69, 69, 1);
  font-weight: 700;
}

.notification .notification-info span {
  font-weight: 400 !important;
}
